<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hfad.tailorme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tailorme">
        <service
            android:name=".DownloadCustomerService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".UploadCustomerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".DownloadGalleryService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SignUpPage" />
        <activity android:name=".HomePage" />
        <activity android:name=".CustomerDetails" />
        <activity android:name=".DetailedGallery" />
        <activity android:name=".CustomerForm" />
        <activity android:name=".LogOutActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LogInPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>